.main{
    display: flex;
    max-width: 1248px;
    margin: auto;
}
.listGlasses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin: auto;
}
.image{
    position: relative;
}
.glasses{
    width: 200px;
    cursor: pointer;
}
.glasses img{
    width: 100%;
}
.image_glasse{
    width: 250px;
    position: absolute;
    top:150px;
    left:115px;
}
.image_info{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: orange;
    padding-left: 20px;
}